{% extends 'base.html.twig' %}

{% block title %}New Flights{% endblock %}

{% block body %}
    {% block menu %}
        {% include "navbar/navbar.html.twig" %}
    {% endblock %}
    <h1 class="text-center display-1">Créer un nouveau vol</h1>
    <div class="container">
    {{ include('flights/_form.html.twig') }}

    <a class="btn btn-lg btn-secondary" href="{{ path('app_flights_index') }}">Retour à la liste des vols</a>
    </div>
{% endblock %}
